* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face{
    font-family:'Lobster Two', cursive;
    src: url("../fonts/LobsterTwo-Regular.ttf");
} */

body {
  font-family: "Lobster Two", cursive, Arial, Helvetica, sans-serif;
  margin: 200px auto;
  width: 800px;
  height: 500px;
  background-color: #eee;
}

main {
  display: grid;
  height: 50vh;
  width: 50vw;
  grid-template-columns: 45% 10% 45%;
  grid-template-rows: 90% auto;
}

div {
  border: 2px red dashed;
}

/* main {
  display: grid;
  height: 50vh;
  width: 50vw;
  grid-template-columns: 2fr 0.5fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "data-left data-middle data-right"
    "data-left data-middle data-right"
    "data-left data-middle data-right"
    "data-bottom data-bottom data-bottom";
}

div {
  border: 2px red dashed;
}

.data-left {
  grid-area: data-left;
}

.data-middle {
  grid-area: data-middle;
}

.data-right-top {
  grid-area: data-right-top;
}

.data-bottom {
  grid-area: data-bottom;
  background-color: #f2f9fe;
}
 */
