* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face{
    font-family:'Lobster Two', cursive;
    src: url("../fonts/LobsterTwo-Regular.ttf");
} */

body {
    font-family: 'Lobster Two', cursive, Arial, Helvetica, sans-serif;
}
